<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--View result once run session is over-->
    <add key="ViewResults" value="true" />
    <!-- List of add-ins to be attached-->
    <add key="AddIns" value="Web" />
    <!-- run mode -->
    <add key="RunMode" value="Normal" />
    <!-- Monitor the application process-->
    <add key="MonitorApplicationProcess" value="iexplore.exe" />
    <!-- Monitor the application process-->
    <add key="PossibleDeadLockProcessList" value="iexplore,firefox,chrome" />
    <!-- Report Format -->
    <add key="ReportFormat" value="RRV" />
    <!-- Default Format -->
    <add key="DefaultReportFormat" value="RRV" />
    <!-- Show UFT in the desktop during run-->
    <add key="ShowAutomationTool" value="true" />
    <!-- Kill the process during init and release-->
    <add key="KillProcessList" value="UFT,QtpAutomationAgent,EXCEL,iexplore,firefox,WerFault" />
    <!-- When error occur during runtime-->
    <add key="OnError" value="NextStep" />
    <!-- Object Synchronization TimeOut - In Milliseconds-->
    <add key="ObjectSyncTimeOut" value="5000" />
    <!-- Framework Library Which needs to be loaded by default for every test-->
    <add key="CommonLibsTestResourcesList" value="" />
    <!-- Test Run session timeout. If any test running more then 45 mins it will be stopped-->
    <add key="TestRunSessionTimeOut" value="45" />
    <!-- Replay type mouse-->
    <add key="RunMouseByEvents" value="true" />
    <!-- List of crash process to be handled during the running-->
    <add key="CrashProcess" value="Internet Explorer,Microsoft Windows,HPE Unified Functional Testing,HP Unified Functional Testing" />
    <!-- Capture Movie or Not-->
    <add key="CaptureMovie" value="true" />
    <!-- Specify your developer email list. This will override from application domain -->
    <add key="EmailList" value="" />
    <!-- Specify Consecutive Failure Breaking Point-->
    <add key="ConsecutiveFailureCounter" value="5" />
  </appSettings>
</configuration>